:root{
    --branding-color:#FF9E3D;
    --button-color:#BF5700;
    --secondary-color:#FBBF77;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --font-family: 'Courgette', cursive;
}
body{

}

h1 {
   font-size: 80px; 
}
img {
    border-radius: 50%;
}
.hero{
    background: var(--secondary-color);
    padding: 80px 10px;
    margin:5px 30px;
    border-radius: 25px;
}
.hero p{
    
    
    margin: 0;
}
btn{
    border-radius: 4px;
    background:var(--button-color);
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

