:root{
    --branding-color:#FF9E3D;
    --button-color:#BF5700;
    --secondary-color:#FBBF77;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --font-family: 'Courgette', cursive;
}
body{

}

h1 {
   font-size: 80px; 
   font-family: var(--heading-font-family);
}
h2 {
    font-size: 40px;
    margin-bottom: 10px;
font-family: var(--default-font-family);
}
h3 {
    font-size: 80px;
    font-family: var(--heading-font-family);
}

.hero{
    background: var(--secondary-color);
    padding: 80px 10px;
    margin:5px 30px;
    border-radius: 25px;
}
 p{
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}
.btn-branding{
    border-radius: 4px;
    background:var(--button-color);
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline{
 background:var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;

}

